* {
  margin: 0;
  padding: 0;
}
body {
    background-image: url(../img/gbbeneficio.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*Navbar*/
.logotop {
  display: flex;
  justify-content: center;
  background-image: url(../img/bg.png);
  background-attachment: fixed;
  width: 100%;
  height: 300px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  background-color: teal;
  color: white;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 5px solid rgb(5, 87, 87);
}

.navbar ul {
  text-align: center;
  justify-content: center;
  font-size: 25px;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.navbar li {
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 5px;
  width: 150px;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
/*Divisão principal*/
.beneficio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
}
.lista {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 30px;
    width: 150px;
    height: 100%;
  }
  

.vip1 {
  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 2px 5px gray;
  margin-top: 50px;
  margin: 15px;
}
.vip2 {
  background-color: white;
  width: 250px;
  height: 550px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 2px 5px gray;
  margin-top: 50px;
  margin: 15px;
}
.vip3 {
  background-color: white;
  width: 250px;
  height: 600px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 2px 5px gray;
  margin-top: 50px;
  margin: 15px;
}
.vip4 {
  background-color: white;
  width: 250px;
  height: 700px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 2px 5px gray;
  margin-top: 50px;
  margin: 15px;
}

.buy {
    color: white;
    background-color: green;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    outline: none;
    border: none;
    font-size: 17px;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
/*Link*/
a {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

/*Hover e active*/
.navbar li:hover {
  color: goldenrod;
  cursor: pointer;
}

.buy:hover {
    color: white;
    background-color: rgb(8, 107, 8);
    font-family: "Poppins", sans-serif;
    border-bottom: 4px solid rgb(6, 77, 6);
    border-right: 3px solid rgb(6, 77, 6);
  }

/*Responsivo*/
@media only screen and (max-device-width: 900px) {
    /*Navbar*/
  
    .navbar ul {
      font-size: 20px;
      margin: 10px;
    }
  
    .navbar li {
      width: 110px;
    }
    .beneficio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 30px;
      }
}