* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/bglojabeneficio.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*Navbar*/
.logotop {
  display: flex;
  justify-content: center;
  background-image: url(../img/bg.png);
  background-attachment: fixed;
  width: 100%;
  height: 300px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  background-color: teal;
  color: white;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 5px solid rgb(5, 87, 87);
}

.navbar ul {
  text-align: center;
  justify-content: center;
  font-size: 25px;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.navbar li {
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 5px;
  width: 150px;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
.vips {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
  width: 900px;
  height: 100%;
}
.mensal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin-top: 25px;
}

.eterno {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin-top: 25px;
}
.unban {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin-top: 25px;
  width: 900px;
  margin-bottom: 50px;
}
.item {
  background-color: white;
  width: 250px;
  height: 370px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 2px 5px gray;
}
.tipo {
  text-align: center;
  color: gray;
  font-size: 30px;
  margin-top: 25px;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: gray;
  font-size: 15px;
  margin: 0;
}

.buy {
  color: white;
  background-color: green;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  outline: none;
  border: none;
  font-size: 17px;
  width: 120px;
  height: 50px;
  margin-top: 15px;
  border-radius: 2px;
  margin-bottom: 15px;
}

/*Link*/
a {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

/*Hover e active*/
li:hover {
  color: goldenrod;
  cursor: pointer;
}

.buy:hover {
  color: white;
  background-color: rgb(8, 107, 8);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  outline: none;
  font-size: 17px;
  width: 120px;
  height: 50px;
  margin-top: 15px;
  border-bottom: 4px solid rgb(6, 77, 6);
  border-right: 3px solid rgb(6, 77, 6);
  cursor: pointer;
}

.valor {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: goldenrod;
  width: 100px;
  height: 40px;
  text-align: center;
  margin-top: 0;
  margin-left: 65%;
}

.beneficio {
  color: grey;
  font-family: "Poppins", sans-serif;
  opacity: 0.7;
  font-size: 15px;
  font-weight: 400;
}
.beneficio:hover {
  color: rgb(100, 99, 99);
  font-family: "Poppins", sans-serif;
  opacity: 0.9;
  font-size: 15px;
  font-weight: 400;
}
/*Responsivo*/
@media only screen and (max-device-width: 900px) {
  /*Navbar*/

  .navbar ul {
    font-size: 20px;
    margin: 10px;
  }

  .navbar li {
    width: 110px;
  }
  /*Loja*/
  .vips {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 100%;
  }
  .mensal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: 5px;
    align-items: center;
  }

  .eterno {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: 5px;
  }

  .unban {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 400px;
    height: 100%;
  }

  .unban .item {
    margin-top: 10px;
  }
}
